<div class="container">

  <div class="row well">
    <div class="col col-md-6 col-lg-6 col-sm-12">
      <div *ngFor="let course of courses; let i = index" class="well">
        <div class="form-group">
          <label for="courseName">Course Number</label>
          <input type="text"  class="form-control" id="courseName"
                 [(ngModel)]="course.name" name="courseName" (input)="getCourseInfo($event)">
          <small *ngIf="cache[course.name]">{{cache[course.name].title}}</small>
        </div>
        <div class="form-group">
          <label *ngIf="cache[course.name]"> Section</label>
          <select *ngIf="cache[course.name]" class="form-control" [(ngModel)]="course.section">
            <option *ngFor="let sec of cache[cleanFormat(course.name)].classes" [value]="sec.section">{{sec.section}} {{sec.instructors|json}}</option>
          </select>
          <label *ngIf="course.section && course.section!='Any'"><input type="checkbox" name="enrolled" [(ngModel)]="course.enrolled">Already Enrolled</label>
        </div>
        <div *ngIf="cache[course.name]?.related.length > 0">
          <p>Related component of {{course.name}}</p>
          <div *ngFor="let related of cache[course.name].related; let j = index">
            <p>{{related[0].type}}</p>
            <select class="form-control" [(ngModel)]="course.related[j].section">
              <option *ngFor="let sec of related" [value]="sec.section">{{sec.section}}-{{sec?.instructors|json}}</option>
            </select>
            <label *ngIf="course.related[j].section && course.related[j].section!='Any'">
              <input type="checkbox" name="enrolled" [(ngModel)]="course.related[j].enrolled">Already Enrolled
            </label>
          </div>
        </div>
        <button *ngIf="i!=0" type="button" class="close" (click)="remove(i)">Remove</button>
      </div>



      <button class="btn" (click)="addCourse()">Add a course</button>
      <input type="checkbox" name="showOpenOnly" [(ngModel)]="form.showOpenOnly">Show Open Class Only
      <button type="submit" class="btn btn-success" (click)="submit(form)">Go Fetch Them!</button>

    </div>
  </div>
  <!--<input type="checkbox" [(ngModel)]="debug">-->
  <!--<div *ngIf="debug">-->
  <!--{{courses | json}} <br>-->
  <!--CACHE: {{cache | json}} <br>-->
  <!--</div>-->

  <div *ngIf="result.length>1 && result[0].length > 0">
    Displaying {{result[0].length}} possible schedule(s)
  </div>
  <div *ngIf="result.length> 1 && result[0].length ===0">
    No possible schedule with these constraints.
  </div>

  <div *ngIf="result.length > 1">
    <app-schedule *ngFor="let schedule of result[0]; let i = index" [schedule]="schedule" [detail]="result[1]" [no]="i">
    </app-schedule>
  </div>
</div>
